
ul {
    li{
        a,button{
            margin-left: 40px;
            font-size: 16px;
        }
    }
}
.navbar-brand{
    margin-right: 32%;
    //margin-left: 45px;
}
.main_button{
    background-color: #1C85C8;
    color:white;
    width:80px
}
.active{
    color:#1C85C8 !important;
}