<div class="container">
    
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <img class="navbar-brand" src="assets/images/icon.PNG" width="40px" height="80px">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Programs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Schools</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
            <button class="btn main_button">Login</button>
          </li>
      </ul>
    </div>
  </nav>
</div>